!!! Strict
%html{html_attrs('en')}
  %head
    %title Hush CMS Administration
    %meta{'http-equiv' => 'content-type', 'content' => 'text/html;charset=utf-8'}
    %meta{'http-equiv' => 'Content-Style-Type', 'content' => 'text/css'}
    = stylesheet_link_tag 'hush_cms_admin', 'hush_cms_admin_navigation', 'hush_cms_admin_extensions', 'hush_cms_date_picker'
    /[if IE]
      = stylesheet_link_tag 'hush_cms_ie_admin'
    = include_tiny_mce_js_if_needed
    = include_tiny_mce_if_needed
    = javascript_include_tag 'prototype', 'effects', 'dragdrop', 'hush_cms_admin', 'hush_cms_date_picker', :cache => 'hush_cms_admin_cached'
    
  %body
    #container
      = render :partial => 'hush_cms_admin/shared/navigation'
      
      %h1= @title
      
      #links
        - if @links && !@links.empty?
          %ul
            - @links.each do |type, link|
              %li{:class => type}= link_to(link, (type == 'snippet' ? 'javascript:void(0)' : link))
              
      #sidebar
        = yield :sidebar
      
      #content
        = yield
        
      %div{:style => 'clear: left'}
  
    - if @js_model_with_errors
      :javascript
        markInputsWithErrors('#{@js_model_with_errors}', {#{@js_model_errors.join(', ')}});
    
    /
      = Time.now
