- title "Editing - #{@post_category.name} - #{@post.title}"

- content_for :sidebar do
  = link_to 'New Post', new_hush_cms_admin_post_category_post_path(@post_category), :id => 'sidebar-new-post'
  = render :partial => 'posts', :object => @posts

#breadcrumbs
  = link_to('All Categories', hush_cms_admin_post_categories_path)
  &raquo;
  = link_to(@post_category.name, hush_cms_admin_post_category_posts_path(@post_category))
  &raquo;
  = link_to(@post.title, hush_cms_admin_post_category_post_path(@post_category, @post))

- form_for @post, :url => hush_cms_admin_post_category_post_path(@post_category, @post) do |form|
  .row
    = form.label :title
    = form.text_field :title

  .row
    = form.label :author
    = form.text_field :author
    
  .row
    = form.label :content
    = form.text_area :content, :class => 'mceEditor'
     
  = submit_tag 'Update Post'
