- @title = "#{@category.name} - #{@post.title}"

- content_for :sidebar do
  - if @post.published?
    = link_to 'Un-publish Post', unpublish_hush_cms_admin_category_post_path(@category, @post), :method => :put, :id => 'sidebar-unpublish'
  - else
    = link_to 'Publish Post', publish_hush_cms_admin_category_post_path(@category, @post), :method => :put, :id => 'sidebar-publish'
    
  = link_to 'Edit Post', edit_hush_cms_admin_category_post_path(@category, @post), :id => 'sidebar-edit-post'

#breadcrumbs
  = link_to('All Categories', hush_cms_admin_categories_path)
  &raquo;
  = link_to(@category.name, hush_cms_admin_category_posts_path(@category))
  &raquo;
  = link_to(@post.title, hush_cms_admin_category_post_path(@category, @post))

#rendered-content
  = @post.content
