- title @parent ? "New Sub-page for #{@parent.title}" : 'New Page'

- content_for :sidebar do
  - if @parent
    = link_to 'New Sub-page', new_hush_cms_admin_page_path(:parent => @parent.id), :id => 'sidebar-new-page'
    = render :partial => 'pages', :object => @parent.children
  - else
    = link_to 'New Page', new_hush_cms_admin_page_path, :id => 'sidebar-new-page'
    = render :partial => 'pages', :object => @pages

#breadcrumbs
  = link_to('Base Pages', hush_cms_admin_pages_path)
  
  - if @parent
    &raquo;
    = @parent.breadcrumbs.map { |p| link_to p.title, hush_cms_admin_page_path(p) }.join(' &raquo; ')

- form_for @page, :url => hush_cms_admin_pages_path do |form|
  = form.hidden_field :parent_page, :value => @parent.id if @parent

  .row
    = form.label :title
    = form.text_field :title
    
  .row
    = form.label :content
    = form.text_area :content
    
  .row
    = form.label :options
    = form.text_field :options
    
  = submit_tag 'Create Page'
