- title @page.title
- add_link hush_cms_page_url(@page.path)

- content_for :sidebar do
  - if @page.permanent?
    = link_to_function 'Permanent Page', 'alert("This page is permanent and cannot be deleted or un-published")', :id => 'sidebar-permanent'
  - else
    - if @page.published?
      = link_to 'Un-publish Page', unpublish_hush_cms_admin_page_path(@page), :method => :put, :id => 'sidebar-publish'
    - else
      = link_to 'Publish Page', publish_hush_cms_admin_page_path(@page), :method => :put, :id => 'sidebar-unpublish'
    
    = link_to 'Delete Page', hush_cms_admin_page_path(@page), :method => :delete, :confirm => 'Are you sure?', :id => 'sidebar-delete-page'
    
  = link_to 'Edit Page', edit_hush_cms_admin_page_path(@page), :id => 'sidebar-edit-page'    
  = link_to 'New Sub-page', new_hush_cms_admin_page_path(:parent => @page.id), :id => 'sidebar-new-page'

  = render :partial => 'pages', :object => @page.children
  

#breadcrumbs
  = link_to('Base Pages', hush_cms_admin_pages_path) + ' &raquo; '
  = @page.breadcrumbs.map { |p| link_to p.title, hush_cms_admin_page_path(p) }.join(' &raquo; ')

#rendered-content
  = @page.content
