.post
  .title= @post.title
  .author= @post.author
  .published_at= @post.published_at.to_s(HushCMS.configuration['post_date_format'])
  .post-content= @post.content
  
  - if @category.has_comments?
    .comments
      - if @comment && @comment.valid?
        .success Thanks, your comment was submitted and is awaiting approval
    
      = link_to_function 'Write Comment', "w = document.getElementById('write'); if (w.style.display == 'none') { w.style.display = 'block'; } else { w.style.display = 'none'; }"
    
      #write{:style => "display: #{@comment && !@comment.valid? ? 'block' : 'none' }"}
        - form_for :comment do |form|
          .row
            = form.label :name
            = form.text_field :name

          .row
            = form.label :email
            = form.text_field :email

          .row
            = form.text_area :content
          
          = submit_tag 'Submit Comment'
    
      .count= pluralize(@post.comments.approved.count, 'Comment')
    
      - unless @post.comments.approved.empty?
        %ul
          - @post.comments.approved.each do |comment|
            %li
              .name= comment.name
              .content= comment.content
