- title "#{@calendar.name} Events"

- content_for :sidebar do
  = link_to 'Edit Calendar', edit_hush_cms_admin_calendar_path(@calendar), :id => 'sidebar-edit-calendar'
  = link_to 'New Event', new_hush_cms_admin_calendar_event_path(@calendar), :id => 'sidebar-new-event'
  - if @all_events
    = link_to 'Upcoming Events', hush_cms_admin_calendar_events_path(@calendar), :id => 'sidebar-upcoming-events'
  - else
    = link_to 'All Events', all_hush_cms_admin_calendar_events_path(@calendar), :id => 'sidebar-all-events'

#breadcrumbs
  = link_to('All Calendars', hush_cms_admin_calendars_path) + '&raquo;'
  = link_to @calendar.name, hush_cms_admin_calendar_events_path(@calendar)

%h3= @all_events ? 'All Events' : 'Upcoming Events'

%ul#events-list.stripeable
  - @events.each do |event|
    %li
      .name
        = link_to image_tag('hush_cms/delete.png'), hush_cms_admin_calendar_event_path(@calendar, event), :method => :delete, :confirm => 'Are you sure?'
        = link_to event.name, edit_hush_cms_admin_calendar_event_path(@calendar, event)
        
      .time
        = event.start_date.to_s(:hush_date)
        = to_formatted_hush_time(event.start_time) if event.start_time?
        to
        = event.finish_date.to_s(:hush_date)
        = to_formatted_hush_time(event.finish_time) if event.finish_time?
        
      %p= strip_tags event.details
