- title 'Snippets'

- content_for :sidebar do
  = link_to 'New Snippet', (@page ? new_hush_cms_admin_page_snippet_path(@page) : new_hush_cms_admin_snippet_path), :id => 'sidebar-new-snippet'  
  = render :partial => 'snippets', :object => @snippets

- if @page
  #breadcrumbs
    = link_to('Base Pages', hush_cms_admin_pages_path) + ' &raquo; '
    = @page.breadcrumbs.map { |p| link_to p.title, hush_cms_admin_page_path(p) }.join(' &raquo; ') + ' &raquo; '
    = link_to 'Snippets', hush_cms_admin_page_snippets_path(@page)
