- @title = "Editing #{@category.name}"

- content_for :sidebar do
  = link_to 'New Category', new_hush_cms_admin_category_path, :id => 'sidebar-new-category'
  = render :partial => 'categories', :object => @categories

- form_for @category, :url => hush_cms_admin_category_path(@category) do |form|
  .row
    = form.label :name
    = form.text_field :name

  = submit_tag 'Update Category'
